[submodule "setup"]
	path = setup
  url = ../setup # setup scripts and things
  update = checkout
  ignore = none
[submodule "src"]
	path = src
	url = ../ROV # all the source code is bundled here
  update = checkout
  ignore = none # maybe change this to `dirty`?
